body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.outer-container {
    background-color: #d1bdd1; /* Matching background color */
    padding: 40px 0;
}

.container {
    display: flex;
    max-width: 1000px; /* Reduced container width */
    margin: 0 auto;
    padding: 30px;
    background-color: #0a4f50;
    color: #fff;
    border-radius: 10px; /* Rounded corners for a modern look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.left-column {
    flex: 1;
    padding-right: 20px;
}

.left-column h1 {
    font-size: 2.2em; /* Adjust font size */
    margin-bottom: 20px;
    text-align: center; /* Center align heading */
    font-weight: bold; /* Bold heading */
    text-transform: uppercase; /* Capitalize letters */
    color: #f1faee; /* Set a light color for the heading */
    letter-spacing: 2px; /* Add space between letters */
}

.left-column p {
    
    font-size: 1.2em; /* Adjust font size */
    line-height: 1.5; /* Adjust line height */
    margin-bottom: 20px; /* Add margin bottom */
    text-align: justify; /* Justify text */
    color: #f1faee; /* Set a light color for the paragraph */
    padding: 10px 0; /* Add padding for spacing */
    border-left: 4px solid #f1faee; /* Add a left border */
    padding-left: 15px; /* Add padding to left */
}

.right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 1em;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

textarea {
    height: 100px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1d3557;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #457b9d;
}
